main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.table{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.table row:not(:first-child){
    background-color: rgb(1, 32, 2);
    border-radius: 0.25rem;
}

.row {
    display: flex;
    color: whitesmoke;
    width: 100%;
}

.row div:first-child {
    width: 60%;
    padding: 0.5rem 1 rem;
    text-align: start;
}

.row div:not(:first-child) {
    width: 20%;
    padding: 0.5rem 1 rem;
    text-align: center;
}